<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/bienvenida">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contenedor-formulario">
    <h2>Registrarse</h2>
    
    <ion-item class="entrada-datos">
      <ion-input label="Correo electrónico" labelPlacement="floating" type="email" [(ngModel)]="correo"></ion-input>
    </ion-item>

    <ion-item class="entrada-datos">
      <ion-input label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="contrasena"></ion-input>
    </ion-item>

    <ion-button expand="block" shape="round" color="primary" class="ion-margin-top" (click)="registrar()">
      REGISTRARSE
    </ion-button>

    <div class="divisor">
      <span>O</span>
    </div>

    <ion-button expand="block" shape="round" color="light" (click)="registrarConGoogle()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      REGISTRARSE CON GOOGLE
    </ion-button>
  </div>
</ion-content>