<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Edux - Cursos</ion-title>
    <ion-buttons slot="end">
      <ion-avatar routerLink="/perfil" class="avatar-header">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Silueta" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contenedor-tarjetas">
    
    <div class="tarjeta-flip">
      <div class="tarjeta-inner">
        <div class="tarjeta-front matematica">
          <h3>Matemática</h3>
        </div>
        <div class="tarjeta-back">
          <p>Aprende álgebra, geometría y cálculo de forma interactiva.</p>
        </div>
      </div>
    </div>

    <div class="tarjeta-flip">
      <div class="tarjeta-inner">
        <div class="tarjeta-front lenguaje">
          <h3>Lenguaje</h3>
        </div>
        <div class="tarjeta-back">
          <p>Mejora tu gramática, lectura y escritura.</p>
        </div>
      </div>
    </div>

    <div class="tarjeta-flip">
      <div class="tarjeta-inner">
        <div class="tarjeta-front ciencias">
          <h3>Ciencias</h3>
        </div>
        <div class="tarjeta-back">
          <p>Explora la biología, física y química del mundo.</p>
        </div>
      </div>
    </div>

    <div class="tarjeta-flip">
      <div class="tarjeta-inner">
        <div class="tarjeta-front sociales">
          <h3>Estudios Sociales</h3>
        </div>
        <div class="tarjeta-back">
          <p>Historia, geografía y sociedad a tu alcance.</p>
        </div>
      </div>
    </div>

  </div>
</ion-content>