<ion-content class="ion-padding">
  <div class="contenedor-principal">
    
    <div class="encabezado">
      <h1>Edux</h1>
      <p>Explora nuestros cursos</p>
    </div>

    <div class="cuadricula-materias">
      <div class="tarjeta-materia matematica">
        <span>Matemática</span>
      </div>
      <div class="tarjeta-materia lenguaje">
        <span>Lenguaje</span>
      </div>
      <div class="tarjeta-materia ciencias">
        <span>Ciencias</span>
      </div>
      <div class="tarjeta-materia sociales">
        <span>Estudios Sociales</span>
      </div>
    </div>

    <div class="contenedor-botones">
      <ion-button expand="block" shape="round" color="primary" routerLink="/ingreso">
        INICIAR SESIÓN
      </ion-button>
      <ion-button expand="block" shape="round" fill="outline" color="primary" routerLink="/registro">
        REGISTRARSE
      </ion-button>
    </div>

  </div>
</ion-content>